.main {
  margin-top: 10%;
  padding: 50px;
  border: 0.5px solid grey;
  border-radius: 20px;
}

.main p {
  margin-top: 20px;
  color: black;
}

.form-control {
  width: 60%;
  margin-right: 50px;
}

.inbox {
  margin-top: 100px;
  padding: 50px;
  border-radius: 20px;
}

.g-signin2 {
  margin-top: 20px;
  margin-left: 45%;
}

.hide {
  display: none;
}

nav i {
  color: grey;
  margin-right: 10px;
}

p {
  width: 100%;
  margin-bottom: 0.5rem;
  color: #686d76;
  padding: 0.5%;
}

#inbox p:hover {
  border: 2px solid lightgray;
}

#inbox p {
  border-top: 0.5px solid #eeeeee;
  border-bottom: 0.5px solid #eeeeee;
}

img,
label {
  display: block;
}

#inbox {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
}

#labels {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

#labels .btn {
  width: 100%;
}

#profile {
  width: 40px;
  border-radius: 50px;
}

.bg-light {
  background-color: none;
}

.logo {
  display: inline;
  width: 100px;
}

.compose {
  width: 80%;
  box-shadow: 2px;
  border-radius: 20px;
  padding: 8px;
}

@media screen and (max-width: 500px) {
  .g-signin2 {
    margin-top: 20px;
    margin-left: 35%;
  }

  .main {
    margin-top: 20%;
    padding: 50px;
    border: 0.5px solid grey;
    border-radius: 20px;
  }
}
