.main {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  border: 1px solid grey;
  padding: 50px;
  border-radius: 20px;
}

.form-control {
  width: 60%;
}

.inbox {
  margin-top: 100px;
  padding: 50px;
  border-radius: 20px;
}

.g-signin2 {
  margin-top: 30px;
  margin-left: 130px;
}

.hide {
  display: none;
}

i {
  color: grey;
  margin-right: 7px;
}

p {
  width: 100%;
}

img,
label {
  display: block;
}

#profile {
  width: 40px;
  border-radius: 50px;
}

.bg-light {
  background-color: none;
}

.logo {
  display: inline;
  width: 100px;
}
